

    <form action="/book/delete" method='post'>
        

        <p>Delete <%= book.title%>?</p>
        <p>This process cannot be undone.Are you sure?</p>
        <input type="submit"value="Yes Delete">
        <input type="submit"value="No">
    </form>
    </body>
    </html>